.btn {
    display: inline-block;
    margin: 0;
    padding: 17px 32px;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    border: 1px solid #33323D;    
}
.btn:hover {
    color: white;
    background-color: #33323D;
    border-color: transparent;
}
.btn:active {
    opacity: 0.5;
    color: #33323D; 
    background-color: white;
    border-color: #33323D;
}

.visit-btn {
    display: block;
    max-width: 178px;
    margin-top: 16px;
    margin-bottom: 48px;
}

.contact-btn {
    padding-bottom: 17px;
    max-height: 48px;
}