.hero-manage {
    background-image: url(../images/hero-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1110px;
    min-height: 500px;
    margin-top: 52px;
    margin-bottom: 52px;
   
}

@media only screen and (max-width:768px) {
    .hero-manage {
        background-image: url(../images/hero-back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 689px;
        min-height: 500px;
    } 
}