.hero-portfolio {
    padding-top: 47px;
    padding-bottom: 75px;
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1015px;
        width: 100%;
    }
    &__item + &__item {
        margin-top: 80px;
    }
    &__item:nth-child(even) {
        position: relative;
        left: 95px;
        flex-direction: row-reverse;
    }
    &__img {
        max-width: 540px;
        max-height: 500px;
    }
    &__inner {
        max-width: 350px;
        height: 100%;
    }
    &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 28px;
        font-family: 'Ibarra Real Nova';
        font-weight: bold;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
    }
    &__disc {
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 30px;
        color: #33323D;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    &__span {
        display: block;
        height: 1px;
        width: 100%;
        position: relative;
        top: -103px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.15;
    }
    &__span--bottom {
        display: block;
        height: 1px;
        width: 100%;
        position: relative;
        bottom: -103px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.15;
    }
}
@media only screen and (max-width:930px) {
    .hero-portfolio {
        &__img {
            max-width: 339px;
            max-height: 314px;
        }
        &__item:nth-child(even) {
            position: relative;
            left: 0px;
            flex-direction: row-reverse;
        }
        &__span {
            top: -32px;
        }
        &__span--bottom {
            bottom: -32px;
        }
    }
}
@media only screen and (max-width:711px) {
    .hero-portfolio {
        padding-top: 20px;
        &__img {
            text-align: center;
            max-width: 311px;
            height: 288px;
            margin-bottom: 57px;
        }
        &__item + &__item {
            margin-top: 72px;
        }
        &__item {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item:nth-child(even) {
            flex-direction: column;
            justify-content: center;
            left: 0px;
        }
        &__inner {
            max-width: 710px;
            width: 100%;
        }
        &__span {
            top: -24px;
        }
        &__span--bottom {
            bottom: -24px;
        }
    }
}